{% extends "base.html" %} {% block title %} Home Page {% endblock %}
{% block content %}
<div class="bg-[#FFFBF5] px-2 pb-2 parent mb-16">
  {% load static %}
  <div class="h-16 bg-[#7743DB] w-100 sticky top-16 flex items-center justify-start h-10 p-2 text-white">
    <img src="https://picsum.photos/200" alt="img" width="0" height="0" class="w-10 h-10 mr-2 bg-white rounded-full" />
    {% if chat.user_1_id == user.id %}
    <h1>{{ chat.user_2.username }}</h1>
    {% else %}
    <h1>{{ chat.user_1.username }}</h1>
    {% endif %}
  </div>

  <div class="flex justify-center">
    <button class="flex items-center" id="load-messages">
      Get older messsages
      {% heroicon_outline "arrow-path" size=40 class="ml-2" color="#7743DB" %}
    </button>
  </div>

  <ul id="chat-log">
    {% for message in messages reversed %}
    {% if user.id == message.user_id %}
    <li class="bg-[#7743DB] text-white my-2 p-2 w-3/5 ml-auto mr-0">
      <p class="font-semibold">{{ message.text }}</p>
      <p class="text-xs font-thin">{{ message.created_at }}</p>
    </li>
    {% else %}
    <li class="bg-[#C3ACD0] text-white my-2 p-2 w-3/5 ml-0 mr-auto">
      <p class="font-semibold">{{ message.text }}</p>
      <p class="text-xs font-thin">{{ message.created_at }}</p>
    </li>
    {% endif %}
    {% endfor %}
  </ul>

  {% csrf_token %}
  <div class="fixed bottom-0 flex justify-center child bg-[#FFF1F5] p-2">
      <textarea id="chat-message-input" class="w-full h-12 rounded-md resize-none"></textarea>
      <button id="chat-message-submit" value="Send">
        {% heroicon_outline "paper-airplane" size=40 class="ml-2" color="#7743DB" %}
      </button>
  </div>

  {{ chat_id|json_script:"chat-id" }}
  {{ request.user.id|json_script:"user-id" }}

  <script src="{% static 'js/chat_socket.js' %}"></script>
</div>
{% endblock %}
