{% extends "base.html" %} {% block title %} Home Page {% endblock %}
{% block content %}
<ul>
  {% for chat in chats %}
  <li>
    {% url 'chat' user_1_id=chat.user_1.id user_2_id=chat.user_2.id as myurl %}
    {% if chat.user_1_id == user.id %}
    {% include 'components/contact_card.html' with href=myurl image_path="https://picsum.photos/200" username=chat.user_2.username %}
    {% else %}
    {% include 'components/contact_card.html' with href=myurl image_path="https://picsum.photos/200" username=chat.user_1.username %}
    {% endif %}
  </li>
  {% endfor %}
</ul>
{% endblock %}
